<%= form_tag 'github_users#create', class: 'form-horizontal', id: 'github_user' do %>
  <div class="form-group">
    <%= label_tag 'GitHub username:  ', nil, class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= text_field_tag 'username', nil,  maxlength: 20, class: 'col-sm-10 form-control', autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= submit_tag 'Send', class: 'btn btn-default btn-lg btn-submit' %>
    </div>
  </div>
<% end %>



