<div class="container"> 
  <h1>Github User: <%= @github.user.name if @github.user %></h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Language</th>
        <th>Number of repos</th>
      </tr>
    </thead>

    <tbody>
    <% order_list(@github.language_listings).each do |lang, count| %>
      <tr>
        <td><%= lang %></td>
        <td><%= count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Back', root_path%> 
</div>
